@media screen and (max-width: 667px) {
body{
	background:#fff;
	font-size:13px;
	
	}	
div.header {
	border-top:0;
	text-align:center;
	width:100%;
	min-width:50%;
	margin-bottom:20px;
	position:relative;
}	
div.inner {
  	max-width: 667px;
  	width: auto;
	padding:0 5px;
}	
			
.show-pc{
	display:none !important;
	}
.show-sp{
	display:block !important;
	}
.slide,
.s-banner,
.footer,
.copyright,
.slide-page {
	min-width:50%;
}	
.copyright{
	text-align:center;
	}
img.logo {
  float: none; 
}	
.top-right {
  float: none;
  margin: 0px auto;
  width: 100%;
  display:inline-block;

}
.share-search {
  max-width: 250px;
  display: block;
  text-align: center;
  float: none;
  margin:0 auto;
}
.share-sp{
   float: none;
   width: 100%;
   margin:0 auto;
   display:inline-block;
	}
.form-search {
  float: none;
  width: 100%;
  height: 23px;
  margin:5px auto;
  display:inline-block;
}
.input-form-search {
  text-indent: 5px;
}
.form-lan {
  float: none;
  width: 100%;
  margin:5px auto;
  display:inline-block;
}	
.cart-sp{
	float:right !important;
	width:19px;
	}
.s-content {
  width: auto;
  height: auto;
  top: 10px;
  left: 6%;
  font-size: 12px;
}
.s-banner ul li img.img-more{
	width:24%;
	}
.bg-b {
  padding: 10px;
  width: auto;
  height: auto;
  margin-bottom: 5px;
  border: 0;
}	
.s-p-title{
	border:0;
	padding-bottom:0;
	margin-bottom:0;
	}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	bottom:6px !important;
}	
.bx-wrapper .bx-pager.bx-default-pager a, 
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background-size:50% !important;
}	
h2{
	font-size:16px;
	}
h2 span img {
  margin: -3px 2px;
}	
h2 img{
	max-width:84px;
	width:30%;
	height:auto;
	margin-top:6px;
	}
.spm li {
    width: 31%;
}	
.spm li.li-2 {
    margin: 0px 2%;
}	
.spm li img{
    -webkit-transform: scale(1);
  	transform: scale(1);
}
.gioithieu{
	text-align:center;
	}
img.img-3 {
  float: none;
  margin:0 auto 10px auto;
  
}	
.gt-c{
	width:100%;
	float:none;
	margin:0 auto;
	}
.sp-r li {
  width: 100%;
  display: inline-block;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px dotted #e4e4e4;
  margin-bottom: 10px;
}	
.sp-r li.mrL {
  margin-left: 0;
}
.sp-r li.mrL-sp {
  padding-bottom: 10px;
  border-bottom: 1px dotted #e4e4e4;
  margin-bottom: 10px;
}
img.img-sp-lg{
	width:79px;
	height:81px;
	margin-right:5px;
	}
img.lgiac-1{
	width:81px;
	height:83px;
	}	
.sp-r-c {
  width: 79%;
  float: left;
}
.ttsk li {
  width: 100%;
  text-align: left;
  margin-bottom:10px;
}	
.ttsk li img.img-8 {
  max-width: 223px;
  width: 40%;
}
.ttsk-c {
  width: 57%;
}
.ttsk li.li-2 {
  margin-left: 0;
}
.p-ttsk-date{
	margin:0;
	display:block;
	width:auto;
	}
.ul-gam{
	text-align:center;
	}	
.ul-gam li {
  width: 9.5% !important;
  margin-right:15px;
}	
.ul-gam li img{
  	-webkit-transform: scale(1);
  	transform: scale(1);
	}
.ul-gam li.li-2 {
  margin: 0 1.5% 10px 1.5%;
}	
.inner-footer{
	text-align:center;
	}
.form-lienhe {
  float: none;
  max-width:333px;
  width:100%;
  margin: 0 auto;
  text-align:left;
}	
.trusochinh {
  float: none;
  margin:20px auto 0px auto;
  display:block;
  width:290px;
}
.name-footer{
  width: 100%;
}
.noidung-footer {
  width: 99%;
}
/*menu-top*/
.bg-menu-sp{
	background:#00aeef;
    position: fixed;
    z-index: 999999999999;
    height: 45px;
	padding:5px 0 0 0;
    top: 0;	
    text-align: left;
    width: 100%;
    min-width: 50%;
    margin-bottom: 20px;
}
div.inner-sp{
	margin:57px auto 0 auto;
	}
.menu-sp {
  position: relative;
  z-index: 999999;
  top: -29px;
  width: 100%;
  background: #fff;
  height: auto;
  position: absolute;
  z-index: 99999999999;
  top: 50px;
  left:0;
}	
.menu-sp ul {
  margin: 0;
  padding: 0;
}
.menu-sp ul li {
  text-align: left;
  font-size: 12px;
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 12px 10px;
  border-bottom:1px dotted #ccc;
}
.menu-sp ul li.li-last{
	border-bottom:2px solid #00aeef;
	}
.menu-sp ul li a {
  	color:#000;
	font-weight:bold;
	font-size:13px;
	text-transform:uppercase;
}
/*sanpham*/
.content-right{
	float:none;
	width:100%;
	display:inline-block;
	margin:0 auto;
	}
.ul-sanpham{
	text-align:center;
	}
.ul-sanpham li{
	width:32%;
	font-size:11px;
	}
.ul-sanpham li.li-last{
	margin-bottom:0;
	}			
.ul-sanpham li.li-2{
	margin:0;
	}	
.p-title-sp{
	display:block;
	width:auto;
	margin:5px 8px 10px 8px;
	text-align:left;
	}
.p-title-sp a{
	color:#00aeef;
	font-weight:bold;
	text-align:left;
	}
.sp-r {
  margin: 10px 0 0px 0;
}	
.slide-sanpham{
	max-width:382px;
	width:48%;
	margin-right:10px;
	}	

.img-lar{
	width:100%;
	height:auto;
	}	
.list-img-small li{
	width:30.6%;
	}	
.img-small{
	max-width:100%;
	height:auto;	
	}	
img.img-amthuc {
  width: 35%;
  margin-right: 10px;
}	
.ttam{
	float:none;
	width:auto;
	overflow:hidden;
	}	
.c-ttam{
	height:58px;
	}	
.t-ttam{
	font-size:15px;
	}	
.gt-p-c {
  text-align: justify;
  margin:0;
}	
.list-at {
  margin-bottom: 15px;
}
img.img-amthuc-xem{
	float:none;
	}
.bosung2{
	overflow:auto;
	width:100%;
	padding:0;
	text-align:left;
	margin-bottom:20px;
	}	
.slide-mit .bx-wrapper .bx-prev {
  left: 130px;
  top: -26px;
}	
.slide-mit .bx-wrapper .bx-next {
  left: 160px;
  top: -26px;
}

}

@media screen and (max-width: 568px) {
	
}
@media screen and (max-width: 480px) {	
.c-c-slide-sanpha{
	margin-top:5px;
	}
}
@media screen and (max-width : 414px){

.sp-r-c {
  width: 72%;
  float: left;
}	
.ttsk li {
  width: 100%;
  text-align: center;
  margin-bottom:20px;
  margin-right:0;
}	
.ttsk li img.img-8 {
  float: left;
  width:100%;
  max-width:100%;
  margin-right: 0;
  margin-bottom:5px;
}
.ttsk-c {
  width: 100%;
  float: none;
}
.ttsk li.li-2 {
  margin-left: 0;
}
.ul-gam{
	text-align:center;
	}
.ul-gam li {
  width:20%  !important;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin:0;
}

.ul-gam li .zoom-img{
	margin:0 auto;
	}
.ul-gam li img{
	margin-bottom:0;
	}
.share-footer{
	text-align:center;
	}
.spm li {
    width: 100%;
	margin:0 auto 20px auto !important;
}		
.spm li img{
	max-width:100%;
	}
.spm li p.sp-m-t{
	margin:-5px 0 5px 0;
	}
.ul-sanpham li{
	max-width:194px;
	width:49%;
	}		
.slide-sanpham{
	float:none;
	margin:0 auto;
	width:100%;
	}
.list-img-small li{
	width:31.6%;
	}			
.c-slide-sanpham{
	width:100%;
	display:inline-block;
	margin-top:20px;
	}	
img.img-amthuc {
  max-width:100%;
  width: 100%;
  float:none;
  margin:0 auto;
  text-align:center;
}	
.c-ttam{
	height:auto;
	}
.ttam-more{
	margin-top:0;
	}
}

@media screen and (max-width: 384px) {

}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 360px) {

}
@media screen and (max-width : 353px){
	
}

@media screen and (max-width: 320px) {	
.spm li.li-2 {
  margin: 0px 1%;
}			

}



