@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}


a{ text-decoration:none;}
body {
    color: #000;
    font-size: 12px;
	background:#fff;
	-webkit-text-size-adjust: none;
	font-family:"Meiryo","Helvetica","sans-serif";
}
.slide-top{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
	position:relative;
	}
.slide-top ul{
	margin:0;
	padding:0;
	}
.toppage{
	background:url(../images/img-top.jpg) no-repeat center top;
	width:100%;
	height:auto;
	display:inline-block;
	margin:0 auto;
	padding:0;
	text-align:center;
	min-width:615px;
	height:768px;
	}
.pp-land{
	display:inline-block;
	text-align:center;
	margin:0 auto;
	position:fixed;
	width:1336px;
	top:0;
	left:50%;
	margin-left:-667px;
	}	
.p-lan{
	display:inline-block;
	margin:15px auto 0 auto;
	position:absolute;
	top:0;
	right:20%;
	width:200px;
	}	
.p-lan p{
	position:absolute;
	top:15px;
	right:3%;
	}	
.p-lan a{
	margin-left:10px;
	}	
.img-page-top{
	width:615px;
	height:auto;
	display:block;
	margin:150px auto 0 auto;
	text-align:center;
	min-width:615px;
	position:absolute;
	left:50%;
	margin-left:-320px;
	top:0;
	}
.img-page-top p{
	width:auto;
	display:block;
	text-align:center;
	margin-top:-45px;
	}
.img-page-top p img:hover{
	opacity:0.6;
	}			
div.header {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
	min-width: 970px;  
}	
div.header-border{
	border-bottom: 1px solid #e5e5e5;
	position: fixed;
	background: #fff;	
	z-index:99999999999; 
}
div.inner {
    width:970px;
	height:auto;
	margin: 0 auto;
	display:block;
}
img.logo{
	float:left;
	}
.top-right{
	float:right;
	margin-top:10px;
	width:787px;
	}
.share-search{
	width:492px;
	display:inline-block;
	text-align:left;
	float:right;
	}	
.share-search img{
	float:left;
	margin:0 2px;
	}	
.form-search{
	float:right;
	background:url(../images/top-form-search.jpg) no-repeat left center;
	width:250px;
	height:23px;
	margin-top:-3px;
	margin-left:10px;
	display:inline-block;
	}	
.input-form-search{
	height:20px;
	float:left;
	width:221px;
	text-indent:10px;
	border:none;
	background:none;
	
	}	
.submit-form-search{
	background:none;
	height:22px;
	float:left;
	width:29px;
	border:none;
	cursor:pointer;
	}	
.form-lan{
	float:right;
	width:102px;
	margin:-3px 0 0 10px;
	padding:0;
	border:1px solid #e5e5e5;
	height:22px;
	
	}	
.default-vietnam{
	line-height: 24px;
	background: url(../images/img-vietnam.jpg) no-repeat 5px 7px;
	padding-left:30px;
	width:auto;
	display:block;
	}
.default-english{
	line-height: 24px;
	background: url(../images/img-tienganh.jpg) no-repeat 5px 7px;
	padding-left:30px;
	width:auto;
	display:block;
	}
	
.vietnam{
	background: url(../images/img-vietnam.jpg) no-repeat 5px 7px;
	}
.tienganh{
	background: url(../images/img-tienganh.jpg) no-repeat 5px 7px;
	}
		
.ul-lan{
	margin:-2px 0 0 -1px;
	padding:0;
	float:left;
	width:100%;
	border:1px solid #e5e5e5;
	background:#fff;
	z-index:99;
	position:relative;
	display:none;
	}	
.ul-lan li{
	width:auto;
	display:block;
	text-align:left;
	padding:5px;
	border-bottom:1px solid #e5e5e5;
	}	
.ul-lan li.lan-1{
	background:url(../images/img-vietnam.jpg) no-repeat 5px center;
	padding-left: 30px;
	}	
.ul-lan li.lan-2{
	background:url(../images/img-tienganh.jpg) no-repeat 5px center;
	padding-left: 30px;
	}	
		
/*.select-lan{
	width:100%;
	display:inline-block;
	border:1px solid #e5e5e5;
	height:23px;
	margin-top:-3px;
		}	
.select-lan option{
	
	padding-left:40px;
	width:auto;
	height:auto;
	display:inline-block;
	}	*/
	
.menu-top{
	width:795px;
	display:inline-block;
	float:left;
	margin-top:30px;
	}	
.menu-top ul{
	margin:0;
	padding:0;
	}	
.menu-top ul li {
	margin:0;
	float:left;
	text-align:center;
	}	
.menu-top ul li a{
	padding:10px 8px;
	text-align:center;
	color:#000;
	font-weight:bold;
	font-size:13px;
	text-transform:uppercase;
	}	
.menu-top ul li a:hover,
.menu-top ul li a.active{
	background:#00adef;
	color:#fff;
	}	
img.cart{
	float:left;
	margin-left:9px;
	margin-top:32px;
	}	
.slide {
	display:inline-block;
    margin: 0 auto 30px auto;
    padding: 0;
    width: 100%;
	height:auto;
	min-width:970px;
}	
.s-banner {
    max-width:1336px;
	width:100%;
	height:auto;
	margin: 0 auto;
	display:block;
	min-width:970px;
}
.s-banner ul li{
	position:relative;
	}
.s-banner ul li img{
	max-width:1336px;
	width:100%;
	height:auto;
	}
.s-content{
	width: 307px;
  	height: auto;
  	
  	position: absolute;
  	top: 32px;
  	left: 182px;
	}	
.bg-b{
	background:url(../images/s-bg-b.png) repeat left center;
	padding:22px;
	width:263px;
	height:auto;
	text-align:left;
	margin-bottom:15px;
	}	
.bg-b p{
	display:inline-block;
	width:100%;
	text-align:justify;
	color:#fff;
	}	
.s-p-title{
	font-weight:bold;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:2px solid #fff;
	font-size:13px;
	}		
.s-p-more{
	text-align:right;
	}
.s-banner ul li img.img-more{
	max-width:134px;
	width:100%;
	height:auto;
	float:right;
	}	
h2{
	text-align:left;
	font-size:30px;
	display:inline-block;
	width:100%;
	margin-bottom:15px;
	text-transform:uppercase; 
	}	
h2 img{
	float:right;
	margin-top:15px;
	}	
.spm{
	margin:0;
	padding:0;
	display:inline-block;
	width:100%;
	text-align:center;
	}	
.spm li{
	display:inline-block;
	text-align:left;
	width:306px;
	}	
.spm li.li-2{
	margin:0 21px;
	}
.spm li .zoom-img{
	 display: block;
	 margin: 0 auto;
	 overflow: hidden;
	 position: relative;
	}	
.spm li img{
	max-width:306px;
	width:100%;
	height: auto;
	display: block;
  	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  	transition: opacity 0.35s, transform 0.35s;
  	-webkit-transform: scale(1.12);
  	transform: scale(1.12);
	}
.spm li img:hover{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	}			
.spm li p.sp-m-t{
	text-transform: uppercase;
  	font-size: 16px;
  	display: inline-block;
  	width: auto;
  	margin: -5px 0 10px 0;
 	padding-top: 12px;
  	text-align: left;
  	border-top: 5px solid #00adef;
	z-index:99999;
	position:relative;
	}
.spm li p.sp-m-t a{
	color: #000;
	}
.spm li p.sp-m-t a:hover{
	color: #00adef;
	}		
.spm li p.sp-m-c{
	display:inline-block;
	width:100%;
	text-align:justify;
	}		
.bg-start{
	display:inline-block;
	width:100%;
	background:url(../images/img-2.jpg) no-repeat center center;
	height:26px;
	margin:20px auto;
	}	
.gioithieu{
	display:inline-block;
	width:100%;
	margin-bottom:10px;
	}	
img.img-3{
	max-width:383px;
	width:100%;
	height:250px;
	float:left;
	margin-right:20px;
	border:1px solid #dfe1e0;
	padding:1px;
	}
	
.gt-c{
	float:left;
	width:563px;
	}
.gt-c p{
	width:100%;
	display:inline-block;
	}
.gt-c p a{
	color: #000;
	}			
.gt-p-t{
	font-size:20px;
	text-transform:uppercase;
	text-align:left;
	margin-bottom:5px;
	margin-top:-6px;
	}	
.gt-p-c{
	text-align:justify;
	margin:5px 0;
	}	
.gt-p-more{
	text-align:right;
	margin-top:10px;
	float:right;
	width:100%;
	display:inline-block;
	}	
.gt-p-more a:hover{
	border-bottom:2px solid #00adef;
	}	
ul.ul-menu-show-hide li.img-f{
	width:100%;
	height:auto;
	margin-top:5px;
	}	
img.img-f{
	width:100%;
	height:auto;
	}	
.sp-r{
	margin:25px 0 0px 0;
	padding:0;
	display:inline-block;
	width:100%;
	}	
.sp-r li{
	width:476px;
	display:inline-block;
	text-align:left;
	padding-bottom:25px;
	border-bottom:1px dotted #e4e4e4;
	margin-bottom:25px;
	position:relative;
	}	
.sp-r li.border-no{
	border-bottom:0;
	margin-bottom:0;
	padding-bottom:0;
	}	
.sp-r li.mrL{
	margin-left:13px;
	}	
img.img-sp-lg{
	float:left;
	margin-right:15px;
	width:117px;
	height:118px;
	}	
img.lgiac-1{
	position:absolute;
	left:-2px;
	top:-1px;
	}	
.sp-r-c{
	width:335px;
	float:left;
	}	
.sp-r-c-t{
	font-weight:bold;
	width:100%;
	display:inline-block;
	text-transform:uppercase;
	text-align:left;
	}	
.sp-r-c-t a{
	color:#000;
	}	
.sp-r-c-t a:hover{
	color:#00adef;
	}	
.sp-r-c-c{
	margin:10px 0;
	width:100%;
	display:inline-block;
	text-align:justify;
	}	
	
.bg-start-2{
	margin:20px auto 15px auto;
	}	
h2 span{
	text-align:left;
	display:inline-block;
	}

a.more-spm img:hover{
	border-bottom:2px solid #00adef;
	padding-bottom:5px;
	}	
	
h2 span img{
	margin:-3px 2px;
	}		
.ttsk{
	margin:0;
	padding:0;
	display:inline-block;
	width:100%;
	}	
.ttsk li{
	width:471px;
	display:inline-block;
	}	
.ttsk li.li-2{
	margin-left:23px;
	}	
.ttsk li img.img-8{
	max-width:223px;
	width:100%;
	float:left;
	margin-right:12px;
	}	
.ttsk-c{
	width:236px;
	float:left;
	text-align:left
	}	
.p-ttsk-t{
	font-weight:bold;
	display:inline-block;
	width:100%;
	text-align:left;
	margin-top:-3px;
	}
.p-ttsk-t a{
	color:#000;
	}	
.p-ttsk-t a:hover{
	color:#00adef;
	}		
.p-ttsk-date{
	color:#cacaca;
	text-align:left;
	display:inline-block;
	width:100%;
	margin:7px 0;
	background:url(../images/date.jpg) no-repeat left center;
	padding-left:20px;
	}	
.p-ttsk-c{
	display:inline-block;
	width:100%;
	text-align:justify;
	}	
.h2-ttks{
	margin-bottom:10px;
	}		
.h2-gam{
	margin-top:25px;
	}	
.ul-gam{
	margin:0;
	padding:0;
	display:inline-block;
	width:100%;
	}	
.ul-gam li{
	width:306px !important;
	display:inline-block;
	text-align:left;
	font-weight:bold;
	margin-right:24px;
	}	

/*.ul-gam li.li-2{
	margin:0 21px;
	}	*/
.ul-gam li .zoom-img{
	 display: block;
	 margin: 0 auto 10px auto;
	 overflow: hidden;
	 position: relative;
	}	
.ul-gam li img{
	height: auto;
	width:100%;
	display: block;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  	transition: opacity 0.35s, transform 0.35s;
  	-webkit-transform: scale(1.12);
  	transform: scale(1.12);
	}	
.ul-gam li img:hover{
	opacity:1;
  	-webkit-transform: scale(1);
  	transform: scale(1);
	}
.ul-gam li a {
	color: #000;
	}
.ul-gam li a:hover {
	color:#00adef;
	}
.footer{
	display:inline-block;
    margin: 40px auto 0 auto;
    padding: 30px 0 15px 0;
    width: 100%;
	height:auto;
	min-width:970px;
	background:#00adef;
	float:left;
	}	
.form-lienhe{
	float:right;
	width:333px;
	}	
.title-footer{
	display:inline-block;
	text-align:left;
	color:#fff;
	text-transform:uppercase;
	margin-bottom:5px;
	font-weight:bold;
	}
.lienhe-footer{
	width:100%;
	display:inline-block;
	text-align:right;
	}		
.name-footer{
	border:none;
	background:#fff;
	padding:10px 0;
	text-indent:10px;
	color:#a4a4a4;
	margin-bottom:10px;
	width:333px;
	display:inline-block;
	}	
.noidung-footer{
	border:none;
	background:#fff;
	text-indent:10px;
	color:#a4a4a4;
	width:330px;
	display:inline-block;
	height:110px;
	margin-bottom:6px;
	}
.submit-footer{
	background:url(../images/img-send.jpg) no-repeat right center;
	display:inline-block;
	width:95px;
	height:35px;
	border:none;
	cursor:pointer;
	}		
.trusochinh{
	float:right;
	width:245px;
	text-align:left;
	margin-right:59px;
	
	}	
.thongtin-tsc{
	width:100%;
	display:inline-block;
	text-align:left;
	color:#fff;
	margin-top:10px;
	line-height:20px;
	font-size:10px;
	}	
.title-footer-s{
	background:url(../images/img-start.jpg) no-repeat left top;
	padding-left:25px;
	}	
.trusochinh-2{
	width:273px;
	}	
.share-footer{
	display:inline-block;
	width:100%;
	text-align:left;
	margin-top:20px;
	}
.share-footer img{
	margin-right:6px;
	}	
.copyright{
	display:inline-block;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
	height:auto;
	min-width:970px;
	color:#fff;
	text-align:left;
	font-size:11px;
	background:#009fd9;
	}
/*sanpham*/
.slide-page {
	display:inline-block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
	height:auto;
	min-width:970px;
	text-align:center;
}	
.slide-page img {
    max-width:1336px;
	width:100%;
	height:auto;
	}
.menu-left{
	float:left;
	width:224px;
	position:relative;
	z-index:999999;
	margin-top:-55px;
	}	
.title-menu-left{
	background:#00aeef;
	width:100%;
	padding:10px 0;
	text-indent:10px;
	text-transform:uppercase;
	font-size:20px;
	display:inline-block;
	color:#fff;
	}
.title-menu-left a {
	color: #FFF;
	}
.ul-menu-left{
	border:1px solid #e6e6e6;
	width:auto;
	display:block;
	margin:0;
	padding:0;
	}
.ul-menu-left li{
	text-align:left;
	text-indent:17px;
	padding:10px 0;
	border-bottom:1px dotted #e6e6e6;
	display:block;
	width:auto;
	cursor:pointer;
	}
.ul-menu-left li.li-last{
	border:0;
	}		
.ul-menu-left li a{
	color:#000;
	font-size:13px;
	font-weight:bold;
	}	
.ul-menu-left li a:hover{
	color:#00adef;
	}	
.ul-menu-left li#li-sub{
	background:url(../images/icon-menu-left2.png) no-repeat right center;
	}	
.ul-menu-left li.active{
	/*background:url(../images/icon-menu-left1.png) no-repeat right 16px !important;*/
	background: #E4E4E4;
	}		
.ul-sub{
	background:#fcfcfc;
	display:none;
	margin:10px 0 0 0;
	padding:10px 0 0px 16px;
	border-top:1px dotted #e6e6e6;
	}
	
.ul-sub li{
	display:inline-block;
	width:auto;
	display:block;
	border:none;
	padding:7px 0;
	font-size:11px;
	}			
.content-right{
	float:right;
	width:715px;
	margin-top:13px;
	}	
.ul-sanpham{
	margin:0;
	padding:0;
	width:auto;
	display:block;
	text-align:center;
	}
.ul-sanpham li{
	width:193px;
	text-align:center;
	height:auto;
	display:inline-block;
	position:relative;
	font-weight:bold;
	font-size:15px;
	text-transform:uppercase;
	border-bottom:1px dotted #e6e6e6;
	padding-bottom:20px;
	margin-bottom:20px;
	}
.ul-sanpham li.li-2{
	margin:0 51px;
	}	
.ul-sanpham li.li-last{
	border-bottom:none;
	}		
.ul-sanpham li a{
	display:none;
	}	
.ul-sanpham li a.hover{
	position:absolute;
	top:0;
	left:0;
	z-index:999;
	height:223px;
	background:url(../images/s-bg-b-2.png) no-repeat;
	background-size:100%;
	display:inline-block;
	color:#fff;
	width:100%;
	cursor:pointer;
	}
.span-title{
	display:inline-block;
	width:100%;
	background:#fff !important;
	position:relative;
	z-index:99999999;
	}		
img.img-sp{
	margin-bottom:5px;
	width:100%;
	}		
	
img.bg-lg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:9999;
	}	
/*sanpham chi tiet*/	
.slide-sanpham{
	float:left;
	width:382px;
	border:1px solid #e5e5e5;
	padding:2px 2px 1px 2px;
	text-align:center;
	margin-right:20px;
	}
.list-img-small{
	display:inline-block;
	width:100%;
	margin:0;
	padding:0;
	}	
.list-img-small li{
	display:inline-block;
	margin:0;
	padding:0;
	cursor: pointer;
	}	
.list-img-small li.li-s2{
	margin:0 3px;
	}	
.c-slide-sanpham{
	width:auto;
	overflow:hidden;
	}	
.t-c-slide-sanpha{
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:left;
	width:auto;
	display:block;
	}	
.c-c-slide-sanpha{
	width:auto;
	margin-top:20px;
	text-align:justify;
	display:block;
	}	
.img-small{
	max-width:120px;
	width:100%;
	height: 95px;
	}
.list-at{
	margin-bottom:20px;
	}	
img.img-amthuc{
	width:220px;
	height:auto;
	float:left;
	margin-right:20px;	
	}	
.ttam{
	float:none;
	width:auto;
	overflow:hidden;
	margin-left: 230px;
	}	
.c-ttam{
	height:85px;
	}	
.list-atx{
	text-align:center;
	margin:0 auto;
	}
.bosung{
	display:block;
	width:auto;
	}		
img.img-amthuc-xem{
	width:220px;
	height:auto;
	margin:0 auto 20px 0;
	text-align:center;
	float:left;
	}	
.bosung2{
	display:block;
	width:auto;
	overflow:hidden;
	padding-left:20px;
	}
.bosung-date{
	width:auto;
	display:block;
	text-align:left;
	font-size:10px;
	}		
.bosung3{
	clear:both;
	display:inline-block;
	width:100%;
	text-align:left;
	}	
p.page{
	display:inline-block;
	width:100%;
	text-align:center;
	margin:30px auto 0 auto;
	}	
p.page a{
	border:1px solid #a4a4a4;
	padding:2px 5px;
	color:#a4a4a4;
	margin:0 3px;
	}	
p.page a:hover,
p.page a.active{
	border:1px solid #00adef;
	color:#00adef;
	}	
.slide-mit .bx-wrapper .bx-pager{
	display:none;
	}	
.slide-mit .bx-controls-direction
{
	display:block;
	}
.slide-mit .bx-wrapper .bx-prev {
  left: 220px;
  background: url(../images/img-bullet-2.jpg) no-repeat center center;
  top:-35px;
}	
.slide-mit .bx-wrapper .bx-next {
  left: 245px;
  background: url(../images/img-bullet-3.jpg) no-repeat center center;
  top:-35px;
}	
					
.show-sp{
	display:none;
	}
.product-content {
	clear: both;
  	padding-top: 20px;
  	width: 100%;
}
.disabled {
	pointer-events:none;
}
	